
<div class="row">

  <div class="col-md-5 col-md-offset-1">
    <h2>Contacts</h2>
    <%= link_to new_contact_path, remote: true do %>
      <button class="btn btn-default">New</button>
    <% end %>
  </div>

 

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="contact-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="contacts"><%= render @contacts %></div>
</div>
