// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}

body { margin-bottom: 60px; }

.content { padding: 50px; }

#contacts { padding-left: 15px; }

.edit {
  float: right;
  padding-right: 10px;
}

#contact-form { padding-bottom: 15px; }